extends layout

block content
  h1= title

  ul
    each author in author_list
      li
        a(href=author.url) #{author.name}
        //- if date_of_death_formatted
        p #{author.date_of_birth_formatted} - #{author.date_of_death_formatted}
        //- else 
        //-   p #{author.date_of_birth_formatted} - Not dead yet


    else
      li There are no authors.
